.questions div {
    border: 2px solid skyblue;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

.questions h2 {
    font-size: 20px;
    font-weight: 700;
}

.questions p {
    font-size: 18px;
    padding: 4px;
}